.field {
    padding: 10px;
    display: table;
}
.field label{
    text-align: right;
}
.field input {
    display: block;
    width: 100%;
}
.error {
    color: red;
}
.success {
    color: green;
}
